@import 'reset.css';

html{
    scroll-behavior: smooth;
}

:root{
    --font-header: 'Marmelad', sans-serif;
    --font-parag: 'Roboto', sans-serif;
    --size-parag: 17px;
    --size-header: 35px;
    --color-bg:#F3F2F1;
    --color-h:#4387C1;
    --color-p: #3D57A7;
    --color-text: #63D5F1;
}


.wrapper{
        width: auto;
        margin: 0 auto;
    }

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.flex_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-bottom: 35px;   
}

.line_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap_logo{
    display: flex;
    align-items: center;
    font-size: var(--size-header);
    
}

.wrap h3{
    display: flex;
    margin-left: 20px;
    font-family: var(--font-header);
    color: var(--color-h);
}

#logo{
    width: 70px;
}

.nav{
    margin-left: 45%;
    font-family: var(--font-parag);
    font-size: var(--size-parag)
    
}

.nav a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
.nav a:hover{
    color: var(--color-text);
}

.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.promo h1, h5{
    font-family: var(--font-header);
    font-size: 45px;
    color: white;
    padding: 9px;
    text-transform:uppercase;
}

.promo p{
    font-family: var(--font-parag);
    font-size: 20px;
    color: white;
    padding: 0 0 50px;
}

.promo button{
    width: 145px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-parag);
    color: white;
    background-color: unset;
    border: 3px solid white;
}

.promo button:hover{
    cursor: pointer;
    border: 3px solid var(--color-text);
    color: var(--color-text);
}

.grey{
    background-color: var(--color-bg);
}
.card{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.card_height{
    height: 250px;
}

.card div{
    height: 70px;
    margin-bottom: 15px;
}

.card img{
    height: inherit;
}

.card h5{
    font-family: var(--font-header);
    font-size: 18px;
    color: var(--color-h);
}
.card p{
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    line-height: 25px;
    margin: 20px;
}


.work{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1250px;
}

.work h4{
    font-family: var(--font-header);
    font-size: 32px;
    color: var(--color-h);
    text-transform:uppercase;
}

.work div{
    margin: 20px 0 0 0;
    height: 2px;
    background-color: palevioletred;
    width: 4%;
}

.work_img{
    border: 3px solid palevioletred;
}

.bg_blue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: auto;
    background-color: var(--color-h);
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.info h3{
    font-family: var(--font-header);
    font-size: 18px;
    color: white;
}


.info button{
    width: 145px;
    height: 45px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    color: white;
    background-color: unset;
    border: 3px solid white;
}

.info button:hover{
    cursor: pointer;
    color: var(--color-h);
    background-color: white;
}

.info_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-parag);
    font-size: 20px;
}


.info_big_number{
    font-family: var(--font-header);
    font-size: 35px;
}

.info_line{
    margin: 10px;
    height: 2px;
    background-color: white;
    width: 6%;
}

.contact_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.contact_info p{
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    line-height: 25px;
    margin: 20px;
    width: 75%;
}

.contact_info h5{
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    line-height: 25px;
    margin: 20px;
    width: 75%;
}

.contact_info h5{
    font-weight: bold;
    color: black;
    padding: 20px;
}

.contact_info div{
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    width: 75%;
}

.news{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    
}

.news_container{
    display: flex;
    background-color: #f8f8f8;  
    width: 550px;
    font-family: var(--font-parag);
    font-size: var(--size-parag)
}

.news p{
    width: 300px;
    margin: 0 7px 15px 20px;
}

.news a{
    margin-left: 60%;
    color: var(--color-h);
    text-decoration: none;
}

.news a:hover{
    color: #63D5F1;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input{
    margin: 7px;
    border: 4px solid var(--color-h);
    width: 500px;
    height: 40px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
}

.form button{
    margin: 7px;
    color: white;
    border: 4px solid var(--color-h);
    background-color: var(--color-h);
    width: 507px;
    height: 45px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
}

.form button:hover{
    color: white;
    border: 4px solid var(--color-p);
    background-color: var(--color-p);
    cursor: pointer;
}

.form_textarea{
    padding: 0 0 100px;
    border: 4px solid var(--color-h);
    width: 500px;
    height: 69px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    margin-bottom: 57px;
    margin-left: 50px;
}
.final{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
}
.final_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 300px;
}

.final h5{
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-header);
    font-size: 18px;
    color: var(--color-h);
    height: 50px;
}

.final p{
    font-family: var(--font-parag);
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 20px;
}

.final div{
    display: flex;
    flex-direction: column;
}

.final a{
    font-family: var(--font-parag);
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 20px;
    margin-top: 10px;
}

.final a:hover{
    color: #63D5F1;
}

.final img{
    width: 20px;
    margin: 5px 5px 0 0 ;
}

.down_inf{
    font-family: var(--font-parag);
    font-size: 13px;
    color: white;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1001;
  }
  
  .preloader_row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }