@import 'reset.css';

:root{
    --font-header: 'Marmelad', sans-serif;
    --font-parag: 'Roboto', sans-serif;
    --size-parag: 17px;
    --size-header: 35px;
}


.wrapper{
        width: auto;
        margin: 0 auto;
    }

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.wrap_too{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

.head_div{
    display: flex;
    align-items: center;
    font-size: var(--size-header);
    
}

.head_h3{
    display: flex;
    margin-left: 20px;
    font-family: var(--font-header);
    color: #22a7f0;
}

#logo{
    width: 70px;
}

.nav{
    display: flex;
    margin-left: 45%;
    font-family: var(--font-parag);
    font-size: var(--size-parag)
    
}

.nav_a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
.nav_a:hover{
    color: #22a7f0;
}

.promo{
    background-image: url("../backgrounds/back.jpg");
    height: 65vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.promo_h1{
    font-family: var(--font-header);
    font-size: 45px;
    color: white;
    padding: 9px;
}

.promo_p{
    font-family: var(--font-parag);
    font-size: 20px;
    color: white;
}
.promo_but{
    position: absolute;
    bottom: 39%;
    width: 145px;
    height: 45px;
    font-size: var(--size-parag);
    color: white;
    background-color: unset;
    border: 3px solid white;
}

.promo_but:hover{
    cursor: pointer;
    border: 3px solid #22a7f0;
    color: #22a7f0;
}

.grey{
    background-color: #f8f8f8;
}
.card{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 15px;
}

.card_img{
    height: inherit;
}

.card_h5{
    font-family: var(--font-header);
    font-size: 18px;
    color: #22a7f0;
}
.card_p{
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    margin: 20px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: auto;
    background-color: #22a7f0;
}

.info_h3{
    font-family: var(--font-header);
    font-size: 18px;
    color: white;
}

.info_but{
    width: 145px;
    height: 45px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    color: white;
    background-color: unset;
    border: 3px solid white;
    margin-left: 350px;
}

.info_but:hover{
    cursor: pointer;
    color: #22a7f0;
    background-color: white;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1250px;
}

.works{
    font-family: var(--font-header);
    font-size: var(--size-header);
    color: #22a7f0;
}

.works_line{
    margin: 20px 0 0 0;
    height: 2px;
    background-color: palevioletred;
    width: 4%;
}

.work_img{
    border: 3px solid palevioletred;
}

.card_inf{
    width: 350px;
    color: white;
}

.inf{
    height: 14vh;
}

.inf_num{
    font-family: var(--font-header);
    font-size: 35px;
}

.inf_line{
    margin: 10px;
    height: 2px;
    background-color: white;
    width: 6%;
}

.inf_p{
    font-family: var(--font-parag);
    font-size: 20px;
}

.news{
    display: flex;
    background-color: #f8f8f8;  
    width: 550px;
    font-family: var(--font-parag);
    font-size: var(--size-parag)
}

.news_p{
    width: 300px;
    margin: 0 7px 15px 20px;
}

.news_a{
    margin-left: 200px;
    color: #22a7f0;
    text-decoration: none;
}

.news_a:hover{
    color: palevioletred;
}

.msg{
    display: flex;
    flex-direction: column;
}

.msg_input{
    margin: 7px;
    border: 4px solid #22a7f0;
    width: 500px;
    height: 40px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
}

.msg_but{
    margin: 7px;
    color: white;
    border: 4px solid #22a7f0;
    background-color: #22a7f0;
    width: 507px;
    height: 45px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
}

.msg_but:hover{
    color: white;
    border: 4px solid skyblue;
    background-color: skyblue;
    cursor: pointer;
}

.msg_input_text{
    padding: 0 0 100px;
    border: 4px solid #22a7f0;
    width: 500px;
    height: 69px;
    font-family: var(--font-parag);
    font-size: var(--size-parag);
    margin-bottom: 57px;
    margin-left: 50px;
}
.final{
    display: flex;
    flex-direction: row;
}
.card_fin{
    text-align: left;
    width: 300px;
    margin: 0 70px 0 70px;
}

.final_h5{
    font-family: var(--font-header);
    font-size: 18px;
    color: #22a7f0;
    height: 50px;
}

.final_p{
    margin: 10px;
    font-family: var(--font-parag);
    font-size: 15px;
    color: white;
}

.final_img{
    width: 20px;
    margin-right: 5px;
}

.down_inf{
    font-family: var(--font-parag);
    font-size: 13px;
    color: white;
}
